<ion-header>
  <ion-toolbar class="principal">
    <ion-title>Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<h3 class="ion-margin">Ooops... Error 404</h3>
<h2 class="ion-margin">La página que buscas no existe</h2>
<ion-img src="assets/images/404.svg"></ion-img>

<ion-button expand="full" routerLink="/login"  class="ion-margin-top secundario"> 
  <ion-icon name="home" slot ="start"></ion-icon>
  Ir a la página principal</ion-button>
</ion-content>