<ion-header>
  <ion-title></ion-title>
  <ion-toolbar class="colors">
    <h1> <ion-icon name="rocket-outline"></ion-icon> Blue-Sky</h1>
    <ion-buttons slot="end">
      <ion-button  (click)="cerrarSesion()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <h5 class="nameUsuario ion-text-center"> {{ nombreUsuario }}</h5>
  <center>
    <ion-button class="datetime ion-text-center">
      <ion-icon name="calendar-outline"></ion-icon> &nbsp; Hoy es: &nbsp;
      <ion-datetime [(ngModel)]="date" display-format="DD/ MMM / YYYY  HH:mm" min="date"></ion-datetime>
    </ion-button>
  </center>
</ion-header>

<ion-content class="ion-text-center"  class="ion-padding">

  <h3 class="ion-text-center">¿Que harás hoy?</h3>

<ion-button class="colors" expand="block" (click)="sacarFoto()"><ion-icon name="camera-outline"></ion-icon>Sacar Foto</ion-button>
  <ion-img [src]= "ruta" style= "width: 100% ;height: 70%;"></ion-img>



<ion-button class="colors" expand="block" (click)="escanerQR()"><ion-icon name="search-outline"></ion-icon>Escanear QR</ion-button>
  <a href="{{texto}}">{{ texto }}</a>

</ion-content>